<div class="footer" style="clear: both">
    <a class="footer" href="https://github.com/baileythegreen/Chronic-Learning">
    <img style="vertical-align: middle;
                border-radius: 50%"
         src="/assets/images/github_logo.png"
         title="View on GitHub"
         width="50"></a>
    <!--View on GitHub</a-->

    <a class="footer" href="https://twitter.com/ChronicLearning">
    <img style="vertical-align: middle;
                border-radius: 50%"
         src="/assets/images/twitter_logo.png"
         title="Follow @ChronicLearning"
         width="50"></a>
    <!--Follow @ChronicLearning</a-->
</div>
