<header>
<!--div/-->
    <img id="banner" src="{{ site.baseurl }}/assets/images/book_banner.png" alt="A bunch of books on a bookshelf." width="100%">
</header>
<div class="topnav">
<!--div-->
     <a id="title" href="{{ site.url }}">Chronic Learning</a>
<!--/div-->
<div class="links">
     <!--a class="topnav" href="{{ site.baseurl }}/home">Home</a-->
     <div class="dropdown" >
     <a class="dropbtn">Resources</a>
         <div class="dropdown-content">
                 <a href="{{ site.baseurl }}/resources/science">Science</a>
                 <a href="{{ site.baseurl }}/resources/programming">Programming</a>
                 <a href="{{ site.baseurl }}/resources/general">General</a>
         </div>
     </div>
     <div class="dropdown">
     <a class="dropbtn" style="text-decoration: none" href="{{ site.baseurl }}/contribute">Get involved</a>
     </div>
     <!--a id="link" href="{{ site.baseurl }}/contact">Contact us</a-->
     <div class="dropdown" >
     <a class="dropbtn">About</a>
         <div class="dropdown-content" style="left: 0">
                 <a href="{{ site.url }}/about/team">The Team</a>
                 <a href="{{ site.url }}/about/contact">Contact</a>
                 <a href="{{ site.url }}/about/licensing">Licensing</a>
         </div>
     </div>
</div>
</div>
