---
---
/* import statements */
/* layout styles */

/* all media */

body {
    margin:0;
    font-family: 'Helvetica Neue', Helvetica, Ariel, sansserif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #3e464d; /* fafafa; */
    background: #c9c3c9; /* 00035b; */
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

header,
footer {
    width: 100%;
}

header {
    margin-bottom: 0;
}

#banner {
    
}

#content {
    margin-top: 0;
    padding-top: 1cm;
}

topnav {
    
}

a.topnav,
a.footer {
    text-decoration: none;
}

a.topnav {
    color: #3e464d;
    background: #c9c3c9;
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
}

a.topnav:hover,
a.footer:hover {
    background: #3e464d;
    color: #c9c3c9;
}

a.topnav:after,
a.footer:after {
    color: #3e464d;
    background: #c9c3c9;
}

div {
    margin: 2cm;
}

footer {
    border-top: 3px solid #3e464d;
}
