---
---
/* import statements */
/* layout styles */

/* all media */

body {
    margin:0;
    font-family: "Vollkorn"; /*, 'Helvetica Neue', Helvetica, Ariel, sansserif; */
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e464d; /* fafafa; */
    background: #c9c3c9; /* 00035b; */
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
  width 100%;
  margin: 0;
}

#title {
    font-family: "fredericka";
    font-size: 5rem;
    color: #c9c3c9;
    /*margin-right: 2rem;*/
    padding-left: 0rem;
    margin-left: 0rem;
    /*display: inline-block;*/
}

a,
a:after {
    color: #3e464d;
}

header,
footer {
    width: 100%;
}

header {
    margin-bottom: 0;
}

footer {
    clear: both;
    bottom: 0;
    position: absolute;
    margin: 0;
}

#banner {
    margin: 0; 
}

#content {
    max-width: 30cm;
    margin: 0rem 0cm 2rem 0cm;
    padding: 2rem 4cm 2rem 4cm;
    font-family: "Vollkorn";
}

#profile {
    margin: 0rem 0cm 2rem 0cm;
    padding: 2rem 2cm 2rem 2cm;
    font-family: "Vollkorn";
    max-width: 30%
    vertical-align: top;
}

#profile_img {
    float: right;
    padding-top: 2rem;
    padding-bottom: 2cm;
    padding-left: 2cm;
    vertical-align: top;
}

div.topnav {
    margin-left: 0;
    margin-top: -1.3em; 
    margin-bottom: 1em;
    background: #3e464d;
    color: #c9c3c9;
    width: 100%;
    text-align: center;
    padding: .5em 0em 1em 0em;
    /*display: inline-block;*/
}

div.links {
    font-family: "Vollkorn";
    color: #c9c3c9;
    display: inline-block;
}

#link,
#link:after {
    text-decoration: none;
    color: #c9c3c9;
    background: #3e464d;
    font-family: "Vollkorn";
    font-size: 2rem;
    padding: 1rem;
}

#link:hover {
    text-decoration: none;
    color: #3e464d;
    background: #c9c3c9;
    font-size: 2rem;
    padding: 1rem;
}



/*
a.topnav,
a.footer,
a.topnav:after,
a.footer:after {
    text-decoration: none;
    background: #3e464d;
    color: #c9c3c9;
    font-size: 1.75rem;
    padding: .5rem;
    margin: 0rem 0rem 0rem 0rem;
}
*/
div {
    margin: 0cm 2cm 0cm 2cm;
}

div.footer {
    clear: both;
    color: #c9c3c9;
    background: #3e464d;
    padding: 1rem;
    border-top: 3px solid #3e464d;
    text-align: center;
    margin: 0cm 0cm 0cm 0cm;
    position: absolute;
    bottom: 0;
    width: 100%;
}
a.footer,
a.footer:after {
    text-decoration: none; 
    color: #c9c3c9;
    font-family: "Vollkorn";
    font-size: 1.2rem; 
    padding: .5rem 0rem .5rem 0rem; 
    margin: 0px 10px 5px;
}

a.footer:hover {
    font-size: 1.2rem;
    padding: .5rem 0rem .5rem 0rem;
    margin: 0px 10px 5px;
}

/*  small screens */

@media only screen and (max-width: 768px) {

div.topnav {
    font-family: "Vollkorn";
    margin-left: 0;
    margin-top: -1.3em;
    margin-bottom: 2rem;
    background: #3e464d;
    color: #c9c3c9;
    width: 100%;
    padding: 0em 0em 1em 0em;
    display: block;
    text-align: center;
}

#title {
    font-family: "fredericka";
    font-size: 3rem;
    color: #c9c3c9;
    display: block;
    /*text-align: center;*/
    margin: .5rem 0rem 0rem .5rem;
}

div.links {
    font-family: "Vollkorn";
    color: #c9c3c9;
    display: inline-block;
    text-align: center;
    margin: .5rem 0rem 0rem 0rem;
}

#link,
#link:after {
    text-decoration: none;
    color: #c9c3c9;
    font-family: "Vollkorn";
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0rem;
}

#link:hover {
    text-decoration: none;
    color: #3e464d;
    background: #c9c3c9;
    font-size: 1.5rem;
    padding: 1rem;
}

/*
a.links,
a.footer,
a.topnav:after,
a.footer:after {
    text-decoration: none;
    background: #3e464d;
    color: #c9c3c9;
    font-size: 1.75rem;
    padding: .5rem;
    margin: 0rem 0rem 0rem 0rem;
} */

#content {
    margin: 0rem 0cm 0rem 0cm;
    padding: 2rem 2cm 2rem 2cm;
    padding-top: 2rem;
    max-width: 15cm;
    font-family: "Vollkorn";
}

a.footer,
a.footer:after {
    text-decoration: none;
    color: #c9c3c9; 
    font-family: "Vollkorn";
    font-size: 1.2rem;
    padding: .5rem 0rem .5rem 0rem;
    margin: 0px 10px 5px;
}

a.footer:hover {
    font-size: 1.2rem;
    padding: .5rem 0rem .5rem 0rem;
    margin: 0px 10px 5px;
}

}


@media only screen and (min-width: 1000px) {

div.topnav {
    font-family: "Vollkorn";
    margin-top: -1.5em;
    margin-left: 0;
    background: #3e464d;
    color: #c9c3c9;
    width: 100%; 
    padding: 0em 2em .5em 2em;
    text-align: center;
}

#title {
    font-family: "fredericka";
    font-size: 5rem;
    color: #c9c3c9;
    margin-right: 0rem;
    padding-left: 0rem; 
    margin-left: 0rem; 
    display: inline-block;
}

div.links {
    font-family: "Vollkorn";
    color: #c9c3c9;
    display: inline-block;
    margin-left: 3rem;
}

#link,
#link:after {
    text-decoration: none;
    color: #c9c3c9;
    background: #3e464d;
    font-family: "Vollkorn";
    font-size: 2rem;
    padding: 1rem;
}

#link:hover {
    text-decoration: none;
    color: #3e464d;
    background: #c9c3c9; 
    font-size: 2rem;
    padding: 1rem;
}

div.footer { 
    clear: both;
    color: #c9c3c9; 
    background: #3e464d;
    padding: 1rem;
    text-align: center;
    margin: 0cm 0cm 0cm 0cm;
    position: absolute;
    bottom: 0;
    width: 100%;
}
}
