<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="assets/layout.css"
          type="text/css">
    </link>
</head>
<body>
<header>
<!--div/-->
    <img id="banner" src="../assets/images/book_banner.png" alt="A bunch of books on a bookshelf." width="100%">
    <div class="topnav"
         <a href="{{'/' | relative_url }}">Home</a>  
         <a href="{{'/' | relative_url }}/materials">Materials</a>
         <a href="{{'/' | relative_url }}/contact">Contact us</a>
         <a href="https://github.com/baileythegreen/Chronic-Learning">View on GitHub</a>
     </div>
</header>
<div>
  {{ content }}
</div>
</body>
</html>
