<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/layout.css"
          type="text/css">
    </link>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/fonts.css"
          type="text/css">
    </link>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/dropdown.css"
          type="text/css">
    </link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="page-container">
<!--header-->
{% include header.html %}
<div id="content">
  {{ content }}
<br>
<br>
</div>
<br>
<!--footer-->
{% include footer.html %}
</div>
</body>
</html>
