<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="assets/layout.css"
          type="text/css">
    </link>
</head>
<body>
<header>
<!--div/-->
    <img id="banner" src="../assets/images/book_banner.png" alt="A bunch of books on a bookshelf." width="100%">
</header>
<div class="topnav"
     <a class="topnav" href="{{ site.baseurl }}/home">Home</a>  
     <a class="topnav" href="{{ site.baseurl }}/materials">Materials</a>
     <a class="topnav" href="{{ site.baseurl }}/contact">Contact us</a>
     <a class="topnav" href="https://github.com/baileythegreen/Chronic-Learning">View on GitHub</a>
</div>
<div>
  {{ content }}
</div>
</body>
</html>
