<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/layout.css"
          type="text/css">
    </link>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/fonts.css"
          type="text/css">
    </link>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/dropdown.css"
          type="text/css">
    </link>
</head>
<body>
<div id="page-container" style="width: 100%">
<!--header-->
{% include header.html %}
<div id="profile">
<img id="profile_img" src="{{ site.baseurl }}/assets/images/bailey.jpeg">
{{ content }}
<div style="clear: both"></div>
<br>
<br>
</div>
<br>
<!--footer-->
{% include footer.html %}

</div>
</body>
</html>
